<manifest package="com.snail.login3rdparty.weixin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:supportsRtl="true">
        <meta-data
            android:name="WEIXIN_APPID"
            android:value="${weixin_appid}"/>
        <meta-data
            android:name="WEIXIN_SECRET"
            android:value="${weixin_secret}"/>

        <activity
            android:name="${packname}.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>
</manifest>
