<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.snail.login3rdparty.baidu">
    <application android:supportsRtl="true">
        <meta-data
                android:name="BAIDU_APIKEY"
                android:value="${baidu_apikey}"/>
    </application>
</manifest>
